.main-container {
  width: 100vw;
  min-height: calc(100vh - var(--nav-height));
  background-color: #070724;
  background-image: url("../../../public/assets/background-stars.svg");
  color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 0rem 8rem 2rem 8rem;
  gap: 3rem;
  position: relative;
}

.main__img-and-data-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 4rem;
  width: 100%;
}

.main__img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 5;
}

.main__img-container img {
  max-height: 22rem;
}

.main__geology-image {
  position: absolute;
  bottom: -20%;
  height: 12rem;
}

.main__data {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 3;
}

.main__data-container {
  display: flex;
  flex-direction: column;
  font-family: "League Spartan";
  line-height: 1.8;
  font-weight: 400;
  color: #d3d3d3;
  max-width: 25rem;
}

.main__data h1 {
  font-size: 60px;
  font-family: "Antonio";
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ffffff;
}

.main__wiki {
  color: #45455b;
  font-family: "League Spartan";
  font-size: 1.1rem;
}

.external-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.main__options {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 25rem;
}

.main__options.mobile {
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem 0rem;
  width: 100%;
  max-width: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 1px solid #9c9c9c;
  left: 0;
  position: absolute;
  display: none;
  z-index: 1000;
}

.mobile__btn {
  position: relative;
  cursor: pointer;
}

.mobile__btn.active::after {
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  background-color: #419ebb;
  position: absolute;
  margin-top: 0.8rem;
}

.main__btn {
  font-family: "League Spartan";
  padding: 1rem;
  background-color: transparent;
  border: 1px solid #38384f;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.15s;
  font-size: 0.9rem;
}

.main__btn:hover {
  background-color: #0f0f2b;
}

.main__btn.active {
  background-color: #419ebb;
}

.main__wiki a {
  color: #838391;
}

.main__extra-data {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.main__extra-data-item {
  border: 1px solid #38384f;
  padding: 2rem;
  width: 14rem;
  text-transform: uppercase;
}

.main__extra-data-item h3 {
  color: #838391;
  font-size: 0.9rem;
  letter-spacing: 2px;
  margin-bottom: 0.5rem;
}

.main__extra-data-item span {
  font-size: 2rem;
}

@media (max-width: 1000px) {
  .main-container {
    padding: 0rem 3rem;
  }
  .main__img-and-data-container {
    flex-direction: column;
  }

  .main__data-container {
    max-width: none;
    flex: 1;
  }

  .main__data {
    flex-direction: row;
    align-items: center;
  }

  .main__options {
    flex: 1;
  }

  .main__extra-data {
    width: 100%;
    margin-bottom: 3rem;
  }

  .main__extra-data-item {
    padding: 1rem;
  }

  .main__extra-data-item h3 {
    font-size: 0.8rem;
  }

  .main__extra-data-item span {
    font-size: 1.5rem;
  }

  .main__data h1 {
    font-size: 50px;
  }

  .main__geology-image {
    position: absolute;
    bottom: -10%;
    height: 12rem;
  }
}

@media (max-width: 700px) {
  .main-container.none {
    display: none;
  }
  .main__img-container {
    padding: 5rem;
  }
  .main__img-container img {
    max-height: 10rem;
  }

  .main__data-container {
    text-align: center;
  }

  .main__wiki {
    text-align: center;
    display: flex;
    align-self: center;
  }

  .main__options.desktop {
    display: none;
  }

  .main__extra-data {
    flex-direction: column;
    gap: 0.5rem;
    padding: 0;
  }

  .main__extra-data-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .main__options.mobile {
    display: flex;
  }

  .main__geology-image {
    bottom: 0;
    height: 8rem;
  }
}
